<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <h1 class="brand-title">BOOK BOOKS</h1>
			<% if current_user %>
			  <nav class="nav">
	                <ul class="nav-list">
	                	<li class="nav-item">
	                        <%= link_to "Home",user_path(current_user.id),:class => "pure-button" %>
	                    </li><br>
	                    <li class="nav-item">
	                        <%= link_to "Logout",logout_path,:class => "pure-button" %>
	                    </li>
	                    <li class="nav-item">
	                        <%= link_to "Books",books_path,:class => "pure-button" %>
	                    </li><br>
	                </ul>
            <% else %>
            <%= render 'layouts/error' %>
	            <%= form_for :user,:html => {:class => 'pure-form'}, url: '/login'  do |f| %>
	            <fieldset class ='pure-group'>
					<%= f.text_field :email, placeholder:'email', :class => 'pure-input-1' %>
					<%= f.password_field :password, placeholder:'password', :class => 'pure-input-1' %>
				</fieldset>
					<%= f.submit "Login", :class => "pure-button pure-input-1 pure-button-primary" %>
				<% end %>
				<nav class="nav">
		            <ul class="nav-list">
		                <li class="nav-item">
		                	<div id= "wide">
		                    <%= link_to "Sign Up",signup_path,:class => "pure-button"%>
		                </div>
		                </li>
	            	</ul>
	            </nav>
            <% end %>
    </div>
</div>