<%= form_for(@user, :html => {:class => "pure-form pure-form-aligned"}) do |u| %>
	<fieldset>
		<div class="pure-control-group">
		  <%= u.label :name %> 
		  <%= u.text_field :name %>
		</div>
		<div class="pure-control-group">
		  <%= u.label :username %>
		  <%= u.text_field :username %>
		 </div>
		 <div class="pure-control-group">
		  <%= u.label :email %>
		  <%= u.text_field :email %>
		</div>  
		<div class="pure-control-group">
		  <%= u.label :password %>
		  <%= u.password_field :password %>
		 </div>
		 <div class="pure-control-group">
		  <%= u.label :password_confirmation %>
		  <%= u.password_field :password_confirmation %>
		 </div>
		<div class="button">
		  <%= u.submit "sumbit", :class =>"pure-button pure-button-primary" %>
		</div>
  	</fieldset>
<% end %>
  
