<body>

<div id="layout" class="pure-g">
   <%= render 'sidebar' %>

    <div class="content pure-u-1 pure-u-md-3-4">
         <!-- currently reading books -->
        <div id='currently_reading'>
        <h1> Currently Reading </h1>
        <% if current_user.current %>
        <div class='pure-g'>
            <div class='pure-u-1-3'>
         <div id='miniheader'>  <%= current_user.current.title %> </div> <br>
          By: <%= current_user.current.author %>
            </div>
            <div class='pure-u-1-3'>
         <div id='miniheader'> progress </div> <br>
         <div class="progress-bar blue stripes">
            <span style="width: <%= @answer %>%"></span>
        </div>
            </div>
             <div class='pure-u-1-3'>
         <%= button_to 'Finished', done_path, :class => "pure-button pure-button-primary" , :method => :get %> <br>
         <%= button_to 'Progress', edit_current_path, :class => "pure-button pure-button-primary button-large", :method => :get %>
             </div>
        </div>
         <% else %>
        <%=button_to 'add a currently reading book', new_current_path, :class => "pure-button pure-button-primary button-large", :method => :get %>
         <% end %>
     </div>
     <br>
     <br>
     <br>
     <br>
         <!-- recently read books -->
         <div id= 'recently read'>
			<h1> <%= current_user.name %>'s Recently Added Books </h1>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <% if current_user.books[-1] %>
                            <h2> <%= current_user.books[-1].title %> </h2>
                            <h3> <%= current_user.books[-1].author %> </h3>
                        <% end %>
                    </div>
                    <div class="pure-u-1-3">
                     <% if current_user.books[-2] %>
                            <h2> <%= current_user.books[-2].title %> </h2>
                            <h3> <%= current_user.books[-2].author %> </h3>
                     <% end %>
                    </div>
                     <div class="pure-u-1-3">  
                        <% if current_user.books[-3] %>
                            <h2> <%= current_user.books[-3].title %> </h2>
                            <h3> <%= current_user.books[-3].author %> </h3>
                        <% end %>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <nbr>
        <div id="My Wishlist" >
            <h1> <%= current_user.name %>'s Wishlist </h1>
            <%=button_to 'Add Books To Your Wishlist', new_current_path, :class => "pure-button pure-button-primary button-large", :method => :get %>
        </div>
    </div>
</div>






</body>
