<%= form_for(@book, :html => {:class => "pure-form pure-form-aligned"}) do |u| %>
	<fieldset>
		<div class="pure-control-group">
		  <%= u.text_field :title, placeholder: 'title' %>
		</div>
		<div class="pure-control-group">
		  <%= u.text_field :pages, placeholder: 'pages' %>
		 </div>
		 		<div class="pure-control-group">
		  <%= u.text_field :author, placeholder: 'author' %>
		 </div>
		  <%= u.submit "sumbit", :class =>"pure-button pure-button-primary" %>
		</div>
		<% end %>s
  	</fieldset>