<body id="light_blue">


        <%= image_tag("Bookbooks.jpg", :alt => "Bookbooks feed")%>
        <div id="layout" class="pure-g">
        <div class="pure-u-1-2" >
            <%= form_for :user,:html => {:class => 'pure-form'}, url: '/login'  do |f| %>
                <fieldset class ='pure-group'>
                    <%= f.text_field :email, placeholder:'email', :class => 'pure-input-1' %>
                    <%= f.password_field :password, placeholder:'password', :class => 'pure-input-1' %>
                </fieldset>
                    <%= f.submit "Login", :class => "pure-button pure-input-1 pure-button-primary" %>
                <% end %>
        </div>
        <div class="pure-u-1-2">
            <%= render 'users/userform' %>
        </div>
</div>


</body>
